<section class="p-3">
  <div class="mx-auto max-w-screen-xl px-4">
    <form class="text-center">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre </label>
        <input type="text" class="form-control" id="name" placeholder="Ingresa el nombre">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo </label>
        <input type="text" class="form-control" id="email" placeholder="Ingresa el correo">
      </div>
      <div class="mb-3">
        <label for="semester" class="form-label">Semestre </label>
        <input type="text" class="form-control" id="semester" placeholder="Ingresa el semestre">
      </div>
      <div class="mb-3">
        <label for="career" class="form-label">Carrera </label>
        <input type="text" class="form-control" id="career" placeholder="Ingresa la carrera">
      </div>
      <button
        type="button"
        routerLinkActive="bg-gray-900 text-white"
        routerLink="/members"
        class="text-white mb-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 focus:outline-none"
      >
        Crear
      </button>
    </form>
  </div>
</section>




